// Fonts
$primary-font-family: "Jost", sans-serif;
$secondary-font-family: "Racing Sans One", sans-serif;

// Colors
$White: #ffffff;
$Black: #000000;

$Light-BG: #f5f5f5;
$Dark-BG: #212121;

$Primary: #0D92F4;
$Primary-Light: #3da7f6;
$Primary-Dark: #0966aa;

$Secondary: #C62E2E;
$Secondary-Light: #d15757;
$Secondary-Dark: #8a2020;

// Spacing
$Section-Y-Padding: 64px;

// Shape
$Border-Radius: 8px;

// Stacking
$Z-Index-Header: 100;
$Z-Index-Menu: 200;
$Z-Index-Modals: "write here";

// Debug
$Debug-Parent-Border: 1px dashed red;
$Debug-First-Child-Border: 1px dashed green;
$Debug-Second-Child-Border: 1px dashed blue;